.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.screen {
    background-color: darkgrey;
    position: 'absolute';
    transform: translate(10%, 50%);
}