#photo {
    width: 100%;
    margin-top: 1rem;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}


#tytul {
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
}

#opis {
    font-size: 20px;
}