.container {
    width: 200%;
    height: 40vh;
    display: flex;
    justify-content: center;
    transform: translate(-22%, 0%);
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.movieContainer:hover .description {
    opacity: 1;
  }

.description p {
    margin: 0;
    font-size: 16px;
}

.naglowek {
    width: 100%;
    margin-bottom: 20px;
    display: 'inline-block';
    transform: translate(-40%, 0%);
}



.rowContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 0px;

}

.movieContainer {
    max-width: 20%;
    position: relative;
}



.inner {
    width: 100%;
}

.custom-carousel .carousel-item {
    display: flex;
    justify-content: center;
}

.col {
    flex: 0 0 auto;
    width: 20%;
    margin-right: 10px;
}

.slide {
    text-align: center;

}

.item {
    width: auto;
    height: auto;
}

.title {
    font-size: 14px;
}

.caption {
    width: 100%;
    text-align: center;
}

/* Arkusz stylów CSS dla datepickera */
.datepicker {
    display: inline-block;
    position: relative;
  }
  
  .datepickerInput {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: -250px;
    margin-bottom: 20px;
    width: 300px;
  }
  
  .picker{
    display: flex;
    height: 5vh;
    width: 200%;
    margin-bottom: 30px;
    transform: translate(-17%, 0%);
  }

  .screenings {
    margin-top: 30px;
  }

  .text {
    width: 150px;
    font-size: 20px;
  }
  