%defButton {
    background-color: #808080;
    text-decoration: none;
    color: white;
}

.defaultButton {
    @extend %defButton;
    font-size: 17px;
}

.text {
    @extend %defButton;
    background-color: #6bbfca;
    font-size: 16px;
    @include paddingChange(16px, 32px);
    border-radius: 10px;
  }