.navbar {
    background-color: $navBarColor;

    nav {
        margin: 0;
        overflow: hidden;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

        }

        li {
            float: left;
            margin: auto;

            &.navbar-right {
                float: right;
            }
        }

        a {
            
            display: block;
            padding: 18px 24px;
            
            &:hover {
                background-color: #333;
                font-size: 18px;
            }
        }
    }
}